{% extends "car_rent/base.html" %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h2>Delete service</h2>
        {% if request.user.is_staff or request.user.id == object.customer.id %}

            <fieldset>
                <h2>Are you sure you want to delete the service?</h2>
            </fieldset>

            <button type="submit">Delete</button>
            <button>
                <a href="{% url 'service-detail' service.slug %}">Cancel</a>
            </button>
        {% else %}
            <h2>Access denied</h2>
        {% endif %}
    </form>    
{% endblock %}
