{% extends "car_rent/base.html" %}
{% block content %}
    <div class="car-list-wrapper">
        <ul>
        {% for car in cars %}
            <div class="midbar-hyperref">
                <li>
                    <a href="{% url 'car-detail' car.slug %}">{{ car }}
                    <img src="{{ car.image.url }}" alt="img" height="270px" width="400px">
                    </a>
                </li>
            </div>
            <br/>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
