<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <a href="{% url 'car_rent-home' %}"><h2>Home</h2></a>
    <a href="{% url 'car_rent-about' %}"><h2>About</h2></a>
    <a href="{% url 'car-list' %}"><h2>Car List</h2></a>
    <a href="{% url 'engine-list' %}"><h2>Engine List</h2></a>
    <a href="{% url 'user-list' %}"><h2>Customer List</h2></a>
    <a href="{% url 'service-list' %}"><h2>Service List</h2></a>
    {% block content %}{% endblock %}
</body>
</html>
